In [53]:
person = {
    "first": ["Corey", "Omer", "Maryam", "Omer"],
    "last": ["Shafter", "Shehzad","Rana","Shapoki"],
    "email":["cs@gmail.com", "os@gmail.com", "mr@gmail.com","oshapoki@gmail.com"]
}

In [60]:
import pandas as pd

df = pd.DataFrame(person)

In [ ]:
# The format for loc and iloc is that first it will have rows and columns:
# loc[[row1, row2,...], [col1, col2,...]]

df.iloc[[0,1], [2]]                 # get first 2 rows from email
df.loc[[0,1], ['last','email']]     # get first 2 rows from last and email columns

      last         email
0  Shafter  cs@gmail.com
1  Shehzad  os@gmail.com

In [ ]:
# set index and reset index command - but not needed here:

#df.set_index('email', inplace  = True)
#df.reset_index(drop=True, inplace = True)
#df

In [59]:
# filter rows where name = 'Omer'

name_omer = (df['first'] == 'Omer')
df.loc[name_omer, ['email', 'last']]

                email     last
1        os@gmail.com  Shehzad
3  oshapoki@gmail.com  Shapoki

In [71]:
shapokis = ((df['first'] == 'Omer') & (df['last'] == 'Shapoki'))

poochies = ((df['first'] == 'Omer') | (df['last'] == 'Rana'))
df.loc[poochies]

    first     last               email
1    Omer  Shehzad        os@gmail.com
2  Maryam     Rana        mr@gmail.com
3    Omer  Shapoki  oshapoki@gmail.com