In [31]:
import pandas as pd
import numpy as np

Import Commbank and Amex Expenses

In [24]:
# Commbank csv
commbank_df = pd.read_csv(r'..\00_source_data\CSVData.csv', header=None, names=['tran_date', 'tran_amount','tran_description','balance'])

# Amex csv
amex_df = pd.read_csv(r'..\00_source_data\activity.csv')

Rename Amex columns and add identifiers for both expense source

In [30]:
#rename Amex columns
amex_df = amex_df.rename(columns={'Date':'tran_date', 'Date Processed':'date_processed','Description':'tran_description','Amount':'tran_amount'})

# drop date_processed column from Amex
amex_df = amex_df.drop(columns=['date_processed'], errors='ignore')

# drop balance column from Commbank
commbank_df = commbank_df.drop(columns=['balance'], errors='ignore')

# add expense indicator column:
amex_df['expense_source'] = 'Amex'

commbank_df['expense_source'] = 'Commbank'

np.where is best for one simple if/else but we want to make it a little complex but neat with np select

In [41]:
#amex_df['tran_type'] = np.where(amex_df['tran_amount'] > 0, 'Expense','Income')

# np.select below:
conditions = [
    amex_df['tran_amount'] > 0,
    amex_df['tran_amount'] < 0,
    amex_df['tran_amount'] ==0
]

choices = ['Expense', 'Income', 'None']

default_value = 'Unknown'

amex_df['tran_type'] = np.select(conditions,choices, default=default_value)

filt_income = amex_df['tran_type'] == 'Income'
amex_df[filt_income]

,tran_date,tran_description,tran_amount,expense_source,tran_type
25,20/09/2025,APPLE.COM/AU SYDNEY,-1999.00,Amex,Income
35,15/09/2025,AAMI PI REALTIME BRISBANE,-7.78,Amex,Income
49,11/09/2025,ONLINE PAYMENT RECEIVED - THANKYOU W7826,-3129.83,Amex,Income
76,30/08/2025,KMART MULGRAVE MULGRAVE,-65.00,Amex,Income
105,21/08/2025,JD SPORTS COCKBURN SUCCESS,-50.00,Amex,Income
129,10/08/2025,DD *DOORDASH GUZMANYGO MELBOURNE,-16.13,Amex,Income
143,3/08/2025,"PayID Payment Received, Thank you",-2160.46,Amex,Income
152,27/07/2025,BIG W 0444 GATEWAYS BATEMAM,-34.50,Amex,Income
155,27/07/2025,IKEA AUSTRALIA INNALOO,-24.00,Amex,Income
162,24/07/2025,Membership Rewards Credit,-159.50,Amex,Income
163,24/07/2025,Membership Rewards Credit,-122.91,Amex,Income
167,22/07/2025,WOOLWORTHS 4330 HARVEST ATWELL,-6.50,Amex,Income
187,15/07/2025,NIB HEALTH FUNDS LIMITE NEWCASTLE,-33.54,Amex,Income
214,2/07/2025,"PayID Payment Received, Thank you",-4292.12,Amex,Income
225,26/06/2025,WOOLWORTHS 4301 ST GEORGES TERRACE,-0.66,Amex,Income
240,20/06/2025,AMAZON AU SYDNEY SOUTH,-79.95,Amex,Income
260,10/06/2025,"PayID Payment Received, Thank you",-2700.00,Amex,Income
293,28/05/2025,HIKARU SUSHI & JAPANESE FOOD,-2.74,Amex,Income
301,25/05/2025,8 YOLKS SUCCESS,-6.34,Amex,Income
314,18/05/2025,GELATO MESSINA HIGHGATE,-1.42,Amex,Income
318,17/05/2025,WOOLWORTHS 4330 HARVEST ATWELL,-6.30,Amex,Income
324,15/05/2025,SUSHIA (CLOISTERS),-0.91,Amex,Income
332,12/05/2025,TEMU.COM PARRAMATTA,-29.22,Amex,Income
337,10/05/2025,KINGS KEBAB AND PIZZA,-3.84,Amex,Income
341,8/05/2025,HIKARU SUSHI & JAPANESE FOOD,-0.90,Amex,Income
346,6/05/2025,HIKARU SUSHI & JAPANESE FOOD,-0.90,Amex,Income
351,5/05/2025,"PayID Payment Received, Thank you",-2842.15,Amex,Income
361,1/05/2025,HIKARU SUSHI & JAPANESE FOOD,-0.90,Amex,Income
364,30/04/2025,WOOLWORTHS 4394 GATEWAY SUCCESS WA,-12.50,Amex,Income
365,30/04/2025,WOOLWORTHS 4394 GATEWAY SUCCESS WA,-4.90,Amex,Income
366,28/04/2025,"PayID Payment Received, Thank you",-50.00,Amex,Income
379,26/04/2025,Y D P/L CANNINGTON,-79.99,Amex,Income
381,24/04/2025,DISNEY PLUS RICHMOND,-15.99,Amex,Income
417,10/04/2025,ONLINE PAYMENT RECEIVED - THANKYOU W2599,-5248.12,Amex,Income
439,2/04/2025,KMART MULGRAVE MULGRAVE,-19.00,Amex,Income